.current-champion-thumb-wrapper{
    width: 100%;
    height: 12%;
    background-color: #111318;
    border: 1px solid #31271e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-champion-thumb-wrapper span {
    font-size: 1.6rem;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) repeat scroll 0% 0% padding-box text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.current-champion-thumb-wrapper p {
    margin: 0;
    color: #c4b998;
}