.champion-button-container {
    height: 160px;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c4b998;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.champion-button-wrapper {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    transition: ease-out .2s;
}

.champion-button-wrapper:hover {
    cursor: pointer;
    scale: 110%;
}

.champion-button-image-wrapper {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    margin: 0 2.5%;
    border: none;
    border-radius: 50%;
    background-position: 50% 31.3808%;
    background-size: 150%;
    background-attachment: local;
    background-color: #0a0a0c;
    background-repeat: no-repeat;
}

.champion-button-image-wrapper::after {
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-image: linear-gradient(180deg,#3e3310,#c6b98b,#3e3310);
    border-radius: 50%;
    content: "";
    z-index: -1;
    box-sizing: inherit;
}