.footer-wrapper {
    margin-top: 15%;
    width: 100%;
    height: 40vh;
}
.footer-img {
    width: 100%;
    height: 40%;
    background-position: center;
    background-position-y: 85%;
}
.footer-content {
    margin: auto;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}