.blog-wrapper {
    margin: 2.5% auto;
    width: 34%;
    border: 1px solid #3e3310;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.align-buttons-wrapper {
    padding-top: 2.5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.align-button {
    cursor: pointer;
    padding: 1%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3e3310;
}
.align-button:hover {
    background-color: #5a4f2a;
}
.align-button-selected {
    background-color: #5a4f2a;
}
.align-button p {
    pointer-events: none;
    width: 80%;
    font-size: .3rem;
    color: white;
    margin: 0;
}
.align-button:first-child{
    text-align: left;
}
.align-button:nth-child(3) {
    text-align: right;
}
.align-button:last-child {
    text-align: justify;
    white-space: pre;
}


.blog {
    color: aquamarine;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.5%;
}
.blog header {
    width: 75%;
    padding-bottom: 2.5%;
    margin: 10% auto;
    border-bottom: 1px solid #3e3310;
}
.blog h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-bottom: -2.5%;
}
.blog h2 {
    font-size: 1.2rem;
    letter-spacing: 4px;
}
.blog-content {
    margin: auto;
    width: 80%;
    padding: 0 5%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: #5a4f2a rgba(0,0,0,0);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}